body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

input {
  background: lightgray;
  width: 50px;
  padding: 5px 10px;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

#submitBtn {
  margin-top: 25px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background: #1f2937;
  color: #fff;
}

#number-section {
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: 800px;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}

#conversion-section {
  background: #1f2937;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 550px;
  text-align: center;
  line-height: 20px;
  /* justify-content: space-between; */
}

#conversion-section h3 {
  margin-top: 75px;
  font-size: 20px;
}

#conversion-section p {
  color: #d2d2d2;
  font-size: 18px;
}

#number-section h1 {
  font-size: 50px;
}

#number-section p {
  margin-top: 10px;
  font-size: 25px;
  color: #fff;
}
